/JavaApplication13/nbproject/private/
/lab07/nbproject/private/
/lab07/build/
/lab07/dist/
/lab07.2/nbproject/private/
/lab07.2/build/
/lab07.2/dist/
/pre-midtermFewz/nbproject/private/
/pre-midtermFewz/dist/
/pre-midtermFewz/build/
/Exam-midterm/nbproject/private/
/ExamMidterm/nbproject/private/
/ExamMidterm/build/
/ExamMidterm/dist/
/Lab08/nbproject/private/
/Lab08/build/
/Lab08/dist/
/Lab09/nbproject/private/
/Lab09/build/
/Lab09/dist/
/lab10/nbproject/private/
/lab10/build/
/Lab11/nbproject/private/
/Lab11/build/
/lab12/nbproject/private/
/lab12/build/
/lab12/dist/
/lab13/nbproject/private/
/lab13/build/
/lab13/dist/
/mock/nbproject/private/
/mock/build/
/mock/dist/
/Test/nbproject/private/
/Test/build/
